<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Usually good to include when using Kyruus Bootstrap -->
<script src="assets/js/jquery-{{ site.jquery.version }}.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}.min.js"></script>
<script src="assets/js/better-collapse.js"></script>
<script src="assets/js/bootstrap-datepicker.js"></script>
<script src="assets/js/bootstrap-modalmanager.js"></script>
<script src="assets/js/bootstrap-modal.js"></script>

<!-- Kyruus Bootstrap Doc Specific -->
<script src="assets/js/google-code-prettify/prettify.js"></script>
<script src="assets/js/holder-1.9.js"></script>
<script src="assets/js/application.js"></script>
