<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% endif %} Kyruus Bootstrap</title>
<meta name="description" content="">
<meta name="author" content="">

<base href="{{ site.baseurl }}">

<!-- Le styles -->
<link rel="stylesheet" href="assets/css/kyruus.css">
<link rel="stylesheet" href="assets/css/sites/docs.css">
<link rel="stylesheet" href="assets/js/google-code-prettify/prettify.css">

<!--[if IE 7]>
<link rel="stylesheet" href="assets/font/font-awesome-{{ site.fontawesome.version }}/css/font-awesome-ie7.min.css">
<![endif]-->

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="assets/ico/kyruus/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/kyruus/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/kyruus/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/kyruus/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/kyruus/apple-touch-icon-57-precomposed.png">
