<!-- Navbar
================================================== -->
<div class="navbar navbar-kyruus navbar-static-top navbar-kyruus-large hidden-print">
  <div class="navbar-inner">
    <div class="container">
      <div class="clearfix">
        <a class="brand brand-kyruus" href="./"></a>
        <ul class="nav nav-pills pull-right">
          <li{% if page.navbar-active == "home" %} class="active"{% endif %}><a href="./"><i class="icon-home"></i> Home</a></li>
          <li{% if page.navbar-active == "templates" %} class="active"{% endif %}><a href="templates"><i class="icon-file"></i> Templates</a></li>
          <li class="dropdown{% if page.navbar-active == "getting-started" or page.navbar-active == "scaffolding" or page.navbar-active == "base-css" or page.navbar-active == "components" or page.navbar-active == "javascript" %} active{% endif %}" id="nav-dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#nav-dropdown" data-action="nav-username-dropdown">
            Base Bootstrap
            <i class="icon-caret-down"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li{% if page.navbar-active == "getting-started" %} class="active"{% endif %}><a href="bootstrap-getting-started">Getting Started</a></li>
            <li{% if page.navbar-active == "scaffolding" %} class="active"{% endif %}><a href="bootstrap-scaffolding">Scaffolding</a></li>
            <li{% if page.navbar-active == "base-css" %} class="active"{% endif %}><a href="bootstrap-base-css">Base CSS</a></li>
            <li{% if page.navbar-active == "components" %} class="active"{% endif %}><a href="bootstrap-components">Components</a></li>
            <li{% if page.navbar-active == "javascript" %} class="active"{% endif %}><a href="bootstrap-javascript">Javascript</a></li>
          </ul>
          </li>
        </ul>
      </div>
      <div class="jumbotron jumbotron-padded">
        <h1>{{ page.jumbotron-h1 }}</h1>
        <p>{{ page.jumbotron-p }}</p>
        {% if page.navbar-active == "home" %}
        <p><a href="https://github.com/Kyruus/Kyruus-Bootstrap/archive/master.zip" class="btn btn-success btn-large"><i class="icon-cloud-download icon-2x pull-left margin-top-small"></i>Download Kyruus<br>Bootstrap v{{ site.kyruus-bootstrap.version }}</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
