<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Usually good to include when using Kyruus Bootstrap -->
<script src="assets/js/lib/jquery-{{ site.jquery.version }}.js"></script>

<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-transition.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-alert.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-modal.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-dropdown.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-scrollspy.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-tab.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-tooltip.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-popover.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-button.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-collapse.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-carousel.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-typeahead.js"></script>
<script src="assets/js/bootstrap-{{ site.bootstrap.version }}/bootstrap-affix.js"></script>

<script src="assets/js/lib/better-collapse.js"></script>
<script src="assets/js/lib/bootstrap-datepicker.js"></script>
<script src="assets/js/lib/bootstrap-modalmanager.js"></script>
<script src="assets/js/lib/bootstrap-modal.js"></script>
