---
title: Starter Template -
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include template/head.html %}
</head>

<body>
<div class="wrapper"> <!-- necessary for sticky footer. wrap all content except footer -->

  <!-- Navbar
 ================================================== -->
  <div class="navbar navbar-kyruus navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">AppName</a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li class="active">
              <a href="#">Navbar Item 1</a>
            </li>
            <li>
              <a href="#">Navbar Item 2</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <h1 class="page-header"><i class="icon-magic"></i>&nbsp; Starter Template</h1>
    <p class="alert alert-info">
      This page template is a quick way to start any new project, especially great for dev-related content.
    </p>
    <p>On this page, you see examples of:</p>
    <ul>
      <li>Twitter Bootstrap components - make sure you're familiar with them.</li>
      <li>Compact Kyruus-themed navbar - uses the Kyruus color scheme and uses minimal space.</li>
      <li>Sticky Footer - notice how the footer stays at bottom of the page?</li>
      <li>Font Awesome - vector icons that look good at every size.</li>
    </ul>

  </div>

  <div class="push"><!-- necessary for sticky footer --></div>
</div>

{% include footer.html %}
{% include template/footer-js.html %}

</body>
</html>
